.parentStyles {
  overflow: hidden;
}

.wordWrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.list {
  all: unset;
  display: list-item;
  list-style: none;
  padding: 10px 0;
}

.headingStyles {
  padding: 25px 0 5px 0;
}

.paragraphStyles {
  padding: 10px 0;
}
