:root {
  --max-width_xxs: 320px;
  --max-width_xs: 480px;
  --max-width_s: 640px;
  --max-width_m: 960px;
  --max-width_l: 1280px;
  --max-width_xl: 1920px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  background-color: #fefefe;
  color: #333333;
}

main {
  width: var(--max-width_l);
  height: 100%;
  max-width: 95vw;
  max-height: 95vh;
  padding: 1rem;
  background: inherit;
  color: inherit;
  overflow: auto;
}

.dark-mode {
  background-color: #333333;
  color: #fefefe;
}
